name: Build images

on:
  workflow_call:
    inputs:
      mirror: 
        type: string
      version:
        type: string
      targets:
        type: string

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.set_env.outputs.targets }}
      targets_subtargets: ${{ steps.set_env.outputs.targets_subtargets }}
      tag: ${{ steps.set_env.outputs.tag }}
      tag_number: ${{ steps.set_env.outputs.tag_number }}
      branch: ${{ steps.set_env.outputs.branch }}
      branch_number: ${{ steps.set_env.outputs.branch_number }}
      artifact_release_rel: ${{ steps.set_env.outputs.artifact_release_rel }}
      artifact_package_rel: ${{ steps.set_env.outputs.artifact_package_rel }}
      download_dir: ${{ steps.set_env.outputs.download_dir }}
      download_release_dir: ${{ steps.set_env.outputs.download_release_dir }}
      download_package_dir: ${{ steps.set_env.outputs.download_package_dir }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/checkout@v5
        with:
          repository: czy21/share
          path: feeds/share
      - name: Set env
        id: set_env
        run: |
          wget https://downloads.openwrt.org/.versions.json -O .versions.json
          mv feeds/share/.github/workflows/scripts .github/workflows/
          branch="${GITHUB_REF#refs/heads/}"
          branch_number=$(echo $branch | sed 's|openwrt-||')

          tag=${{ inputs.version }}

          artifact_release_rel=
          artifact_package_rel=
          if [ "${branch}" = "main" ];then
            tag=$branch
            artifact_release_rel=snapshots
            artifact_package_rel=snapshots/packages
          else
            tag=${tag:-$(python3 -B .github/workflows/scripts/openwrt-get_version.py -b ${branch_number})}
            tag=$(echo $tag | sed '/^v/! s/^/v/')
            tag_number=$(echo $tag | sed 's|^v||')
            artifact_release_rel=releases/$tag_number
            artifact_package_rel=releases/packages-${branch_number}
          fi

          echo "branch=${branch}" >> "$GITHUB_OUTPUT"
          echo "branch_number=${branch_number}" >> "$GITHUB_OUTPUT"
          echo "tag=${tag}" >> "$GITHUB_OUTPUT"
          echo "tag_number=${tag_number}" >> "$GITHUB_OUTPUT"

          echo "artifact_release_rel=${artifact_release_rel}" >> "$GITHUB_OUTPUT"
          echo "artifact_package_rel=${artifact_package_rel}" >> "$GITHUB_OUTPUT"

          download_dir=/data/download
          download_release_dir=${download_dir}/$artifact_release_rel
          download_package_dir=${download_dir}/$artifact_package_rel

          echo "download_dir=${download_dir}" >> "$GITHUB_OUTPUT"
          echo "download_release_dir=${download_release_dir}" >> "$GITHUB_OUTPUT"
          echo "download_package_dir=${download_package_dir}" >> "$GITHUB_OUTPUT"

          TARGETS="${{ inputs.targets }}"
          if [ "${{ github.event_name }}" = "push" ];then
            IMG_ROOTS=$(find config -name profiles.json -and ! -path config/profiles.json)
            CHANGES=$(git diff --diff-filter=d --name-only HEAD~)
            for ROOT in $IMG_ROOTS; do
              for CHANGE in $CHANGES; do
                if [[ "$CHANGE" = "$ROOT"* ]]; then
                  TARGETS+=$(echo "$ROOT" | sed -e 's|config/\(.*\)/profiles.json|\1 |')
                  break
                fi
              done
            done
          fi
          echo "Building $TARGETS"
          if [ -n "$TARGETS" ];then
            TARGETS="-t $TARGETS"
          fi
          wget https://downloads.openwrt.org/${artifact_release_rel}/.targets.json -O .targets.json
          python3 -B .github/workflows/scripts/openwrt-get_targets.py $TARGETS | while read v;do echo "$v" >> "$GITHUB_OUTPUT"; done

  build:
    name: Build ${{ matrix.target }}/${{ matrix.subtarget }}
    needs: setup
    runs-on: self-hosted
    strategy:
       fail-fast: false
       matrix:
         include: ${{fromJson(needs.setup.outputs.targets_subtargets)}}
    container:
      image: openwrt/imagebuilder:${{ matrix.target }}-${{ matrix.subtarget }}-${{ needs.setup.outputs.tag }}
      volumes:
        - openwrt-ib-${{ matrix.target }}-${{ matrix.subtarget }}-${{ needs.setup.outputs.tag }}-${{ github.run_id }}:/builder
        - openwrt-share:/data/
      options: --user root --privileged --pull always
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/checkout@v5
        with:
          repository: czy21/share
          path: feeds/share
      - name: Set env
        id: set_env
        shell: bash
        run: |
          mv feeds/share/.github/workflows/scripts .github/workflows/
          python3 -m pip install jinja2 requests
          
      - name: Setup
        working-directory: /builder
        shell: su buildbot -c "bash {0}"
        env: 
          UPSTREAM_URL: ${{ inputs.mirror }}
        run: |
          set -e

          mkdir -p ${{ needs.setup.outputs.download_release_dir }}/targets bin
          
          ln -snf ${{ needs.setup.outputs.download_release_dir }}/targets bin/targets

          tag=${{ needs.setup.outputs.tag }}

          [ ! -d ./scripts ] && sed -i "s|^sha256sum -c|# \0|" setup.sh && ./setup.sh

          id;pwd;ls -al
          export PATH=$(pwd)/staging_dir/host/bin:$PATH
          
          if [ "$tag" = "main" ];then
            echo
          else
            (cd ${{ needs.setup.outputs.download_release_dir }};ln -snf ../$(basename ${{ needs.setup.outputs.artifact_package_rel }}) packages)
          fi

          if grep -q '^CONFIG_USE_APK=y' .config;then
            sed -i -e 's|$(APK) add|\0 --force-overwrite|' Makefile

            openwrt_plugin=$(sed -n -e 's|\(.*\)base\(\.*\)|\1plugin\2|p' repositories | sed -e "s|https://downloads.openwrt.org|https://openwrt-download.czy21.com|")
            cp -rv repositories repositories.official
            sed -i -e "1i ${openwrt_plugin}" repositories.official
            sed -i -e "1i ${openwrt_plugin}" -e "s|https://downloads.openwrt.org|${{ inputs.mirror }}|" repositories
            cat repositories

            ln -snf /data/apk.key keys/local-private-key.pem
            ln -snf /data/apk.pub keys/local-public-key.pem

            mkdir -p files/etc/apk/keys
            cp -rv /data/apk.pub files/etc/apk/keys/openwrt-plugin.pem

            mkdir -p files/etc/uci-defaults/
            tee files/etc/uci-defaults/99-setup << EOF
          #!/bin/sh
          echo "Appending customfeeds..."
          echo "${openwrt_plugin}" > /etc/apk/repositories.d/customfeeds.list
          if [ -f "/etc/config/wireless" ];then
            sed -i -e 's|.*disabled.*||' /etc/config/wireless
          fi
          EOF
          else
            sed -i -e 's|$(OPKG) install $(BUILD_PACKAGES)|\0 --force-overwrite|' Makefile

            openwrt_plugin=$(sed -n -e 's|openwrt_base\(.*\)base$|openwrt_plugin\1plugin|p' repositories.conf | sed -e "s|https://downloads.openwrt.org|https://openwrt-download.czy21.com|")
            cp -rv repositories.conf repositories.conf.official
            sed -i -e "\$a ${openwrt_plugin}" repositories.conf.official
            sed -i -e "\$a ${openwrt_plugin}" -e "s|https://downloads.openwrt.org|${{ inputs.mirror }}|" repositories.conf
            cat repositories.conf

            ln -snf /data/pri.key key-build
            ln -snf /data/pub.key key-build.pub

            OPKG_KEYS=keys ./scripts/opkg-key add /data/pub.key
            OPKG_KEYS=files/etc/opkg/keys ./scripts/opkg-key add /data/pub.key

            mkdir -p files/etc/uci-defaults/
            tee files/etc/uci-defaults/99-setup << EOF
          #!/bin/sh
          echo "Appending customfeeds..."
          echo "${openwrt_plugin}" > /etc/opkg/customfeeds.conf
          if [ -f "/etc/config/wireless" ];then
            sed -i -e 's|.*disabled.*||' /etc/config/wireless
          fi
          EOF
          fi
          
          sed -i -e '/device_packages/a\\t\"user_packages\": getenv(\"USER_PACKAGES\","").split(),' scripts/json_add_image_info.py
          make clean
          
          target_dir=bin/targets/${{ matrix.target }}/${{ matrix.subtarget }}
          mkdir -p $target_dir

          if grep -q '^CONFIG_USE_APK=y' .config;then
            cp -rv repositories.official $target_dir/repositories
          else
            cp -rv repositories.conf.official $target_dir/repositories.conf
          fi

          cp -rv files/etc/uci-defaults/99-setup $target_dir/setup.sh

      - name: Generate image
        shell: su buildbot -c "bash {0}"
        if: ${{ matrix.generate }}
        run: python3 -B .github/workflows/scripts/openwrt-gen_image.py --openwrt-dir /builder --config config --target ${{ matrix.target }}/${{ matrix.subtarget }}

      - name: Generate version
        shell: su buildbot -c "bash {0}"
        if: always()
        run: |
          wget https://downloads.openwrt.org/index.html -O ${{ needs.setup.outputs.download_dir }}/index.html

          for t in $(ls ${{ needs.setup.outputs.download_dir }}/releases/ | grep "^[0-9]");do
            sed -i -e "s|//archive.openwrt.org/\(releases/${t}\)|\1|" ${{ needs.setup.outputs.download_dir }}/index.html
          done
          
          wget https://downloads.openwrt.org/${{ needs.setup.outputs.artifact_release_rel }}/.overview.json -O ${{ needs.setup.outputs.download_release_dir }}/.overview.json
          wget https://downloads.openwrt.org/${{ needs.setup.outputs.artifact_release_rel }}/.targets.json -O ${{ needs.setup.outputs.download_release_dir }}/.targets.json

          python3 -B .github/workflows/scripts/openwrt-gen_version.py --artifact-dir ${{ needs.setup.outputs.download_dir }} --artifact-rel ${{ needs.setup.outputs.artifact_release_rel }} --artifact-target ${{ matrix.target }}/${{ matrix.subtarget }}
          (cd /builder;make checksum)

  clean:
    name: Clean ${{ matrix.target }}/${{ matrix.subtarget }}
    runs-on: self-hosted
    needs: [setup,build]
    strategy:
       fail-fast: false
       matrix:
         include: ${{fromJson(needs.setup.outputs.targets_subtargets)}}
    if: always()
    steps:
      - run: docker volume rm openwrt-ib-${{ matrix.target }}-${{ matrix.subtarget }}-${{ needs.setup.outputs.tag }}-${{ github.run_id }} || true